<div class="flex mt-10 justify-evenly items-stretch text-center">
<% approvals.forEach(approval => { %>
  <div class="border border-black grow">
    <div class="border-b border-black p-2 font-bold"><%= actions[approval.approvalActionType] %></div>
    <div style="height: 80px; padding: 10px 0" class="text-center">

      <% if (approval.approvalStatus == 'APPROVED') { %>
        <% if (approval.User.signatureSpeciment) { %>
          <img
            src="/<%= approval.User.signatureSpeciment.filePath %>"
            style="height: 60px; margin: 0 auto"
          />
        <% } else { %>
          <div class="mt-3 p-2 rounded-full text-white bg-green-400">APPROVED</div>
        <% } %>
      <% } %>

      <% if (approval.approvalStatus == null) { %>
         <div class="mt-3 p-2 rounded-full text-white bg-gray-400">PENDING</div>
      <% } %>
    </div>

    <div class="mb-2">
      <%= approval.approvalStatus ? formatDateNumeric(approval.updatedAt) : ' ' %>
    </div>
    <div class="font-bold border-t border-black p-2">
      (<%= approval.User?.name %>)
    </div>
    
  </div>
<% }) %>
  
</div>
