<div class="flex border-black border mt-10 justify-evenly justify-items-center items-center text-center p-2">
<% approvals.forEach(approval => { %>
  <div>
    <strong><%= actions[approval.approvalActionType] %></strong>
    <div style="height: 80px; line-height: 60px; padding: 10px 0" class="text-center">

      <% if (approval.approvalStatus == 'APPROVED') { %>
        <% if (approval.User.signatureSpeciment) { %>
          <img
            src="/<%= approval.User.signatureSpeciment.filePath %>"
            style="height: 60px; margin: 0 auto"
          />
        <% } else { %>
          <div class="p-4 border-radius-4 font-white bg-green-700">APPROVED</div>
        <% } %>
      <% } %>

      <% if (approval.approvalStatus == null) { %>
         <div class="p-4 border-radius-4 font-white bg-gray-700">PENDING</div>
      <% } %>
    </div>

    <div>
      <%= approval.approvalStatus ? formatDateNumeric(approval.updatedAt) : ' ' %>
    </div>
    <div class="font-bold">
      (<%= approval.User?.name %>)
    </div>
    
  </div>
<% }) %>
  
</div>
